<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="{{ absolute_url(asset('css/styles.css')) }}" type="text/css" />
        <link rel="stylesheet" href="{{ absolute_url(asset('bootstrap/dist/css/bootstrap.min.css')) }}" type="text/css" />
        
    </head>
    <body>
       <form method="post" class="login-form">

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>
    {% if error %}
    <div class="alert alert-danger">
        {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
    {% endif %}
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >
    <br/>
            <button class="btn btn-lg btn-primary" type="submit">
                Sign in
            </button>
</form>
    </body>
</html>
