{% extends 'base.html.twig' %}

{% block content %}
    <h1>Listes des professeurs</h1>
    <a href="{{ path('profs_add') }}" class="btn btn-primary">Ajouter un Professeur</a>
    <br/><br/>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#ID</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Cin</th>
                <th>Fonction</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for prof in profs %}
                <tr>
                    <td>{{ prof.id }}</td>
                    <td>{{ prof.firstname }}</td>
                    <td>{{ prof.lastname }}</td>
                    <td>{{ prof.cin }}</td>
                    <td>{{ prof.diplome }}</td>
                    <td>
                     <a href="{{ path('profs_edit', {'id': prof.id}) }}" class="btn btn-success btn-sm">Modifier</a>
                    <a href=""
                    onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?')" class="btn btn-danger btn-sm">
                        Supprimer
                    </a>                   
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}